body {
	background-image: url("https://cdn.pixabay.com/photo/2020/07/14/20/24/pebble-5405647_1280.jpg");
	font-family: tahoma; 
}

h1 {		
	text-align: center;	
	margin: auto;
	font-weight: bold;
}

.self {	
	width: 25em;
	background-image: url("../img/form.jpg");
	background-size: cover;
}

/* .pic {
	width: 100%;
	margin: auto;
} */

.insert {
	width: 50em;
	margin:  auto;
	padding: 1%;
	border: 2px dashed;
	border-radius: 2em;
	font-weight: bold;
}

.input {
	width: 100%;
}

.select {
	width: 10em;

}

.back {
	width: 60em;
	margin: auto;
	padding: 2em;
	background-image: url("../img/form.jpg");
	background-size: cover;
	border-radius: 1.5em;
}

.ueber {
	width: 10em;
	background-color: white;
	border-radius: 1em;	
}

.ask {
	width: 30em;
	height: 30em;
	margin: auto;
	text-align: center;	
	padding: 2em;
	background-image: url("../img/form.jpg");
	background-size: cover;
}